- content_for :head do
  = stylesheet_link_tag :leaflet
  = javascript_include_tag :leaflet
  = javascript_include_tag 'leaflet.ajax'
  = javascript_include_tag 'map'
  = javascript_include_tag 'line_options'
  = javascript_include_tag 'clone_layer'
  :javascript
    document.addEventListener("DOMContentLoaded", function(event) {
      var mapManager = new window.MapManager("map");
      mapManager.bootstrap();

      var activityURL = "/activities/#{ current_page.data.activity_id }.json";
      var activity = new L.GeoJSON.AJAX(activityURL, { style: line_options() });

      activity.on('data:loaded', function() {
        mapManager.map.fitBounds(activity.getBounds());
        cloneAndStrokeLayer(activity, mapManager.map);
        activity.addTo(mapManager.map).bringToFront();
      }.bind(this));
    });

= wrap_layout :layout do
  #map
  %h1= current_page.data.name
  = yield
  %img.icon.boulders{ src: '/images/boulders.svg' }
    %p
      Route tracked on
      %a{ href: "https://www.strava.com/activities/#{current_page.data.activity_id}"}Strava
