- content_for :head do
  = stylesheet_link_tag :leaflet
  = javascript_include_tag :leaflet
  = javascript_include_tag 'jquery-3.1.1.min'
  = javascript_include_tag 'underscore-min'
  = javascript_include_tag :map
  = javascript_include_tag :route
  :javascript
    document.addEventListener("DOMContentLoaded", function(event) {

      var mapManager = new window.MapManager("map");
      mapManager.bootstrap();

      var activityURLs = #{ activities_for(excursion_id:
          current_page.data.excursion_id
        ).map { |a| a.id } };

      for (i = 0; i < activityURLs.length; i++) {
        walkURL = "/activities/" + activityURLs[i] + ".json";
        walk = new window.Route(walkURL);
        mapManager.addRoute(walk, true);
      }
    });

= wrap_layout :layout do
  #map
  %h1= current_page.data.name
  = yield

